html,
body {
    height: 100%;
    width: 100%;
    background: url('/images/Music-Store-BG.jpg');
    background-size: cover;
} 


  li a:hover {
    background-color: #db2e41;
  }

.container, .flash {
  margin-top: 60px;
}

.aboutText {
  font-size: 40px;
  color:red;
  text-align: center;
}

.h1 {
  font-size: 5rem;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 2px black;
}

.h2, h2 {
  text-align: justify;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 1150px;
  font-size: 2rem;
  color: #ffffff;
  
}

.table thead th  {
  table-layout: fixed;
}


a2 {
  font-size: 1.5rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.destroy {
  display: inline;
}

.destroy>input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: #007bff;
}

.destroy:hover>input[type="submit"] {
  text-decoration: underline;
}

.container {
  margin-top: 60px;
}

.logout {
  padding-top: 8px;
  background: none;
  border: 0;
  color: #6d6d6d;
}

.logout:hover {
  padding-bottom: 8px;
  background-color: #db2e41;
  color: black;
}


