html,
body {
    height: 100%;
    width: 100%;
    background: url('/images/Music-Store-BG.jpg');
    background-size: cover;
} 


  li a:hover {
    background-color: #db2e41;
  }

  .container,
.flash {
  margin-top: 60px;
}


.h1, h1 {
  font-size: 5rem;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 2px black;
}

.h2, h2 {
  text-align: justify;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 1150px;
  font-size: 2rem;
  color: #ffffff;
  
}

.table thead th  {
  table-layout: fixed;
}
