html,
body {
    height: 100%;
    width: 100%;
    background: url('/images/Music-Store-BG.jpg');
    background-size: cover;
} 


  li a:hover {
    background-color: #db2e41;
  }

  .container,
.flash {
  margin-top: 60px;
}

.h1, h1 {
  font-size: 5rem;
  color: #313131;
  text-align: center;
}

