extends ../layouts/main.pug

block globals
  - title = "Contact BBC"

block content

  header
    h2
      = title
      br
      small Please contact one of the BBC team members - Ben Pike, Barry Adunmo, Charlie Beaney!
      br 
      medium Ben Pike       
      small - 1 (222) 456-1000 - benpike@bbcmusicstore.com
      br 
      medium Barry Adunmo   
      small - 1 (222) 456-1001 - barryadunmo@bbcmusicstore.com
      br 
      medium Charlie Beaney  
      small - 1 (222) 456-1002 - charliebeaney@bbcmusicstore.com