extends ../layouts/main.pug

block globals
  - title = "Contact BBC"

block content

  header
    h1
      = title
      br
      medium Please contact one of the BBC team members - Ben Pike, Barry Adunmo, Charlie Beaney!
      br 
      small Ben Pike        - 1 (222) 456-1000   - benpike@bbcmusicstore.com
      br 
      small Barry Adunmo    - 1 (222) 456-1001   - barryadunmo@bbcmusicstore.com
      br 
      small Charlie Beaney  - 1 (222) 456-1002   - charliebeaney@bbcmusicstore.com